body{
  font-family: 'Roboto Condensed', sans-serif;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  color: grey;
}

.metaTags{
  font-size: 16px;
}

.logoutButton {
  @extend .dd-button;
  float: right;
  font-size: 15px;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-input {
  display: none;
}

#loginForm,
#uploadForm {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
  color: grey;
}

#loginForm div,
#uploadForm div {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
  width: 200px;
}

.dd-input + #loginForm,
.dd-input + #uploadForm {
  display: none;
}

.dd-input:checked + #loginForm,
.dd-input:checked + #uploadForm {
  display: block;
}

.author {
  font-size: 16px;
  color: rgb(145, 145, 145);
}

.description {
  font-size: 12px;
  color: rgb(145, 145, 145);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  @media screen and (min-width: 540px) {
    flex-direction: row;
    flex-flow: wrap;
  }
}


#header {
  font-family: 'Archivo', sans-serif;
  color: grey;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  @media screen and (min-width: 540px) {
      font-size: 35px;
  }
}



#quote {
  font-size: 12px;
  color: rgb(171, 171, 171);
  font-family: 'Archivo', sans-serif;

  @media screen and (max-width: 540px){
    display: none;
  }
}

.picture {
  width: 100%;
  height: 14rem;
  margin-bottom: 55px;
  color: grey;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (min-width: 540px) {
    width: 30%;
    height: 10rem;
    margin: 5px;
    margin-bottom: 55px;
  }
}

hr.line {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  width: 88%;
}

.mainImage {
  margin-bottom: 6px;
  height: 10rem;
  @extend .picture;
  @media screen and (min-width: 540px) {
    width: 92%;
    margin-bottom: 10px;
    height: 20rem;
  }
}


.editPicture {
  width: 100%;
  height: 14rem;
  margin-bottom: 55px;
  color: grey;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (min-width: 540px) {
    height: 100%;
    margin: 5px;
    height: 32rem;
    margin-bottom: 55px;
  }
}

.button {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  color: grey;
  font-size: 1.1rem;
  @media screen and (min-width: 540px) {

  }
}

.uploadContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
