<hr class="line">
<div class="container">


  <div id="header">
    <h1>_ARCHITEKT</h1>{{!-- <div class="verticalLine"></div> --}}
    <div id="quote">
      <p>Welcome to our online portfolio, we are a small group of passionate designers
        and architects, looking to change and create amazing digital images to inspire
        others to follow in our innovative steps. Free Architect WordPress Theme</p>
    </div>
  </div>
</div>

<hr class="line">

<div class="container is-mobile">
  <button class="button" id="myBtn">Log In</button>
</div>


<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="uploadContainer">

      <div id="loginForm">
        <form id="user-form" action="/login" method="post">
          <div>
            <label>Username:</label>
            <input id="username" type="text" name="username" autocorrect="off" />
          </div>
          <div>
            <label>Password:</label>
            <input id="password" type="password" name="password" autocorrect="off" />
          </div>
          <div>
            <input class="button" id="user-login" type="submit" value="Log In" />
          </div>
        </form>

        <form action="/login/new" method="get">
          <input type="submit" value="New User?" name="Submit" class="button" />
        </form>

      </div>

    </div>
  </div>
</div>
<script src="/js/app.js" charset="utf-8"></script>
