<h4>New User?</h4>
<form action="/login/new" method="post">
    <div>
        <label>New Username:</label>
        <input id="username" type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input id="password" type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Create User"/>
    </div>
</form>
