<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/styles/style.css" rel="stylesheet" />
    <title>Express Gallery</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
