<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Archivo:600|Roboto+Condensed" rel="stylesheet">
  <title>Express Gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
</head>

<body>
  {{{body}}}
</body>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Express-Gallery</strong> by <a href="https://github.com/jeffmon">Jeffrey Villamin</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jeffmon/express-gallery">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

</html>
