
{{pictureData}}
<div>
  <div class="picture">
    <strong>Author:{{pictureData.Author}}</strong><br>
    <strong>Description:{{pictureData.description}}</strong><br>
    <img class="pictureFile" src={{pictureData.link}} />
  </div>
</div>
