body {
  font-family: 'Roboto Condensed', sans-serif; }

.metaTags {
  font-size: 16px; }

.author {
  font-size: 16px;
  color: #919191; }

.description {
  font-size: 12px;
  color: #919191; }

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center; }
  @media screen and (min-width: 540px) {
    .container {
      flex-direction: row;
      flex-flow: wrap; } }

#header {
  font-family: 'Archivo', sans-serif;
  color: grey;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: -30px;
  margin-bottom: -30px; }
  @media screen and (min-width: 540px) {
    #header {
      font-size: 35px;
      width: 80%;
      margin-top: -40px;
      margin-bottom: -40px; } }

.picture, .mainImage {
  width: 100%;
  height: 14rem;
  margin-bottom: 24px;
  color: grey; }
  .picture img, .mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media screen and (min-width: 540px) {
    .picture, .mainImage {
      width: 30%;
      height: 10rem;
      margin: 5px;
      margin-bottom: 24px; } }

hr.line {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  width: 88%; }

.pictureFile:hover {
  opacity: 0.75; }

#quote {
  font-size: 12px;
  max-width: 40%;
  color: #ababab;
  font-family: 'Archivo', sans-serif;
  width: 70%;
  border-left: solid #ababab;
  border-width: 1px;
  padding-left: 2px;
  margin-left: 2px; }
  @media screen and (max-width: 540px) {
    #quote {
      display: none; } }

.verticalLine {
  border-left: solid #ababab;
  position: relative;
  width: 0px;
  height: 70px;
  margin: 5px;
  border-width: 1.5px; }
  @media screen and (max-width: 540px) {
    .verticalLine {
      display: none; } }

.mainImage {
  margin-bottom: 6px;
  height: 10rem; }
  @media screen and (min-width: 540px) {
    .mainImage {
      width: 92%;
      margin-bottom: 10px;
      height: 20rem; } }

.editPicture {
  color: grey;
  width: 50%; }
  @media screen and (min-width: 540px) {
    .editPicture {
      margin: 5px; } }

.editPictureOnly {
  margin-bottom: 55px;
  color: grey;
  height: 14rem; }
  .editPictureOnly img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media screen and (min-width: 540px) {
    .editPictureOnly {
      margin: 5px;
      height: 28rem; } }

.editContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  width: 50%; }
  @media screen and (min-width: 540px) {
    .editContainer {
      flex-direction: row;
      flex-flow: wrap; } }

.uploadContainer {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

form {
  text-align: center; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
